* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: turquoise;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: auto;
  justify-content: space-around;
  align-items: center;
}

.navbar>.logo>img {
  height: 100px;
  width: 200px;
  padding-top: 1em;
}

.navbar>li {
  padding: 1em;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.navbar>li>ul>p {
  font-size: 1.5em;
  width: auto;
  text-align: center;
}

.navbar>li>ul>p:hover {
  background: lime;
  transition: 500ms;
  border-radius: 4.5px;
  width: auto;
}

@media (min-width: 600px) {
  .navbar {
    background: turquoise;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: auto;
  }

  .navbar li {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: row;
    display: flex;
    /* justify-content: space-between; */
  }

  .navbar>li>ul {
    padding-left: 20px;
  }
}